.psb-wins {
    padding: 80px 0 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        margin-top: 32px;
    }
    &__item {
        box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        border-radius: 12px;
        padding: 40px 32px;
        &__title {
            font-weight: 600;
            font-size: 24px;
            line-height: 104%;
            margin-top: 24px;
        }
        &__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            margin-top: 8px;
        }
    }
}