* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import '_vari.scss';
@font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUI.ttf) format('ttf');
    font-weight: 400;
  }
 @font-face {
    font-family: 'Segoe UI';
    src: url(/fonts/SegoeUIBold.ttf) format('ttf');
    font-weight: 700;
  }
  
body {
    font-family: 'Segoe UI', 'Arial', sans-serif;
    color: $text-color;
  }
a {
    font-family: 'Segoe UI', 'Arial', sans-serif;
  }
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }
.container {
    max-width: 1208px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.psb-btn {
  background-color: $blue;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 6px;
  width: fit-content;
  cursor: pointer;
  border: none;
  transition: background-color .3s;
  padding: 10px 32px;
  &:hover {
    background-color: #3473F4;
    
  }
  &:active {
    background-color: #104CC4;
  }
}
.psb-btn_50 {
  height: 50px;
}
.psb-btn_44 {
  height: 44px;
}
.psb-btn_transparent {
  font-weight: 600;
  font-size: 15px;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 10px 32px;
  text-align: center;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .3s;
  &:hover {
    background-color: $blue;
    color: #fff;
    
  }
  &:active {
    background-color: #104CC4;
  }
}
.title {
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  line-height: normal;
}
@import '_header.scss';
@import '_promo.scss';
@import '_wins.scss';
@import '_about.scss';
@import '_credit.scss';
@import '_options.scss';
@import '_form.scss';
@import '_modal.scss';

@import '_media.scss';